[Unit]
Description=Purge old kernels
After=local_fs.target
ConditionPathExists=/boot/do_pure_kernels

[Service]
Type=oneshot
ExecStartPre=/bin/rm -f /boot/do_pure_kernels
ExecStart=/sbin/purge-kernels

[Install]
WantedBy=multi-user.target
